/* Styles de base */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1,
h2,
h3 {
  color: #333;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #74c792;
}

.button {
  background-color: #74c792;
  color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

.button:hover {
  background-color: #74c792d3;
  cursor: pointer;
}

/* Styles de l'en-tête */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #f4f4f4;
}

#logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #f4f4f4;
  /*  text-transform: uppercase; */
}

#download-buttons {
  display: flex;
}

#download-buttons .button {
  margin-left: 10px;
}

/* Styles de la section Héros */
#hero {
  text-align: center;
  padding: 110px 20px;
  background-image: url('./images/hero-background.jpeg');
  background-size: cover;
  background-position: center;
  color: #333;
}

#catch-phrase {
  width: 50%;
  margin: auto;
}

#hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#hero img {
  width: 400px;
}

#hero .button {
  font-size: 1.2em;
  padding: 15px 30px;
}

/* Styles des sections de contenu */
section {
  padding: 50px 20px;
  background-color: #f4f4f4;
  margin-bottom: 20px;
}

#about,
#features,
#testimonials,
#benefits {
  background-color: #f9f9f9;
}

#about h2,
#features h2,
#testimonials h2,
#benefits h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

#screenshots {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#screenshots img {
  max-width: 20%;
  border-radius: 10px;
}

/* Styles pour les fonctionnalités et les citations */
.feature {
  text-align: center;
  padding: 20px;
}

.feature h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.feature p {
  font-size: 1.2em;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #74c792;
  padding-left: 20px;
  margin: 20px 0;
}

blockquote footer {
  font-size: 1em;
  text-align: right;
  color: #777;
}

/* Styles du pied de page */
#social-media {
  padding: 20px;
  background-color: #333;
  color: #f4f4f4;
  text-align: center;
}

#social-media a {
  margin: 0 5px;
}

#social-media img {
  width: 30px;
  height: 30px;
}

/* Styles responsives */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  #screenshots {
    flex-direction: column;
    align-items: center;
  }

  #screenshots img {
    max-width: 80%;
    margin: 10px 0;
  }
}
